<div class="wrapper">
  <img src="taylor-series.png" alt="taylor-series" />
  <mat-form-field class="form" appearance="outline">
    <mat-label>Iterations</mat-label>
    <input
      #input
      matInput
      placeholder="Enter an Integer"
      type="number"
      value="20"
    />
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="estimatePi(input.value)">
    Calculate
  </button>
  @if(results.length) {
  <mat-card class="table-card">
    <table style="width: 100%">
      <tr class="table-header">
        <th>i</th>
        <th>&#x3A0;</th>
        <th>Error</th>
        <th>&percnt; Error</th>
      </tr>
      @for (result of results; track result.i ) {
      <tr>
        <td>{{ result.i | number }}</td>
        <td>{{ result.pi | number : '1.3-3' }}</td>
        <td>{{ result.error | number : '1.2-2' }}</td>
        <td>{{ result.percentError | number : '1.2-2' }}</td>
      </tr>
      }
    </table>
  </mat-card>
  }
</div>
